on init && property:ro.boot.vendor.apex.com.android.hardware.security.see.hwcrypto=\
com.android.hardware.security.see.hwcrypto.trusty_tee.without_shared_secret
    setprop ro.vendor.trusty.hwcryptohal.register_shared_secret 0