# allow keystore to call binder served in trusty_security_vm_launcher
binder_call(keystore, trusty_security_vm_launcher)

# allow keystore access to sockets to communicate with shared secret served on
# trusty_security_vm_launcher
allow keystore early_virtmgr:fd use;
allow keystore self:vsock_socket { getattr getopt read write };
allow keystore early_virtmgr:vsock_socket { read write };

# allow keystore to find shared secret served on trusty_security_vm_launcher
allow keystore accessor_trusty_hwcrypto_sharedsecret_service:service_manager find;
